<!DOCTYPE html>
<html lang="en">
  <head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="img/favicon.ico">
		<title>Game of Thrones Deadpool</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-grid.min.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-reboot.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Averia+Serif+Libre:300,400,700">
    <!-- Include ButtonJS -->
    <script>
      window.ButtonWebConfig = {
        applicationId: 'app-6d23818bee6b8ba1',
        defaults: {
          'btn-1e716e657cf55302': {
            context: {
              item: {
                identifiers: {
                  jet: '092abb50fbc54571a0c36085ba6bb767'
                }
              }
            }
          }
        }
      };
      (function(u,s,e,b,t,n){
        u['__bttnio']=b;u[b]=u[b]||function(){(u[b].q=u[b].q||[]).push(arguments)};t=s.createElement(e);n=s.getElementsByTagName(e)[0];t.async=1;t.src='https://web.btncdn.com/v1/button.js';n.parentNode.insertBefore(t,n)
      })(window, document, 'script', 'bttnio');
    </script>
    <script>
      window.onload = function() {
        window.setTimeout(function() {
          var cells = document.getElementsByClassName('bttnio-cell bttnio-ellipsis');
          cells[0].children[1].innerHTML = "Buy the books on Jet.com!";
        }, 2000);
      }
    </script>
	</head>

  <body>

    <div class="container">
      <div class="col-lg-6 offset-lg-3 header">
        <img class="object-center" alt="Game of Thrones logo" src="img/img_got-logo@2x.png" style="max-height: 100px;" />
        <p class="lead">Create your own Game of Thrones Deadpool. Each player drafts 5 characters they believe will meet their end in the next 8 weeks. Whoever has the least characters standing by the end, wins. When you play the game of thrones, you win or you die.</p>
        <div data-bttnio-id="btn-1e716e657cf55302"></div>
        <% if flash[:error] %>
        <p class="lead"><%= flash[:error] %></p>
        <% end %>
      </div>

      <!-- form  -->
      <form class="" action="/create" method="post">

        <div class="row player">
          <div class="col-lg-2">
            Deadpool name
          </div>
          <div class="col-lg-2">
            <input type="text" name="deadpool_name" required><br>
          </div>
        </div>

        <% for i in 1..20 %>

        <div class="row player">
          <div class="col-lg-2">
            Player <%= i %> name
          </div>
          <div class="col-lg-2">
            <input type="text" name='player_<%= i %>_name'><br>
          </div>
          <div class="col-lg-2">
            Characters
          </div>
          <div class="col-lg-2">
            <select name="player_<%= i %>_characters[]" multiple>
            <% @characters.each do |character| %>
              <option value='<%= character.name %>'><%= character.name %></option>
            <% end %>
            </select>
          </div>
        </div>

        <% end %>

        <div class="row player">
          <div class="col-lg-2">
            <input type="submit" value="Create">
          </div>
        </div>

      </form>

    </div>

  </body>

</html>
